@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .container{
    width:100%;
    max-width:150rem;
    margin: 0 auto;
    padding:0 5rem;
  }
   
  /* HEADER */
  .header{
    /* p3rem0 (shortcut) */
    padding: 3rem 0;
    /* bgc (shortcut) */
    background-color: var(--light);
     
  }
  .header__wrapper{
    /* df */
    display: flex;
    /* Shortcut: jcsb (Justify-content: X-Axis)*/
    justify-content: space-between;
  }
  /* LEFT HEADER */
  .header__left{
    display: flex;
  }
  .header__left img{
     width:10rem;
     /* Shortcut: w10rem */
  }
  .header__left ul{
    display: flex;
    /* Shortcut: aice (align-item:Y-Axis)*/ 
    align-items: center;
    gap:3rem;

  }
  /* Hovering color change navigation */
  .header__left ul li a{
    color:var(--dark);
  }
  .header__left ul li a:hover{
    color:var(--green);
  }
  /* RIGHT HEADER */
  .header__right{
    display: flex;
    align-content:center;
    gap: 5rem;
  }
  .header__right ul{
   display: flex;
   gap: 3rem;
  }
  .header__right ul li a{
    color:var(--dark);
  }
  .header__right ul li a:hover{
    color:var(--green);
  }
  /* BANNER */
  .banner{
    background-color: var(--gray);
    padding-top: 5rem;
  }
  .banner__wrapper{
    position: flex;
  }
  .banner__left h1{
    font-size: 10rem;
    line-height: 1;
    max-width: 80rem;
    font-weight:600;
  }
  .banner__left span{
    color:var(--green);
  }
  /* RIGHT BANNER */
  .banner__right{
    position: relative;
    left: 140rem;
  }
  .banner__right img{
    margin-left:-30rem;
  }
  /* ABOUT */
  .about{
    padding-bottom: 5rem;
  }
  .about__wrapper{
    display: grid;
    grid-template-columns: 50rem 1fr;
    gap: 5rem;
  }
  .about__left{
    padding-left: 17rem;
  }
  .about__left img{
    width: 60rem;
    border-radius: 1rem;
    transform: translateY(-1.5rem);
  }
  .about__right{
    padding-top: 4rem;
  }
  .about__right h3{
    font-size: 7rem;
    font-weight: 500;
  }
  .about__right p{
    max-width: 70rem;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .about__right span{
    font-weight: 700;
  }
  .about__title{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .about__title li{
    display: inline-block;
  }
  .about__title li::after{
    content: " ";
    width: 0px;
    height: 2px;
    background-color: var(--gray);
    transition: 300ms;
    display: block;
  }
  .about__title li:hover::after{
    width: 100%;
  }
  .about__main-skills{
    font-weight: 600;
  }
  .about__main-skills li{
    display: flex;
  }
  .about__main-skills li span{
    font-weight: 300;
  }
  .about__main-desc{
    font-weight: 300;
    margin-bottom: 2rem;
  }
  /* DESIGN FOR JAVASCRIPT */
  .about__title li:first-child.open{
    color: var(--green);
    text-decoration: underline;
    text-underline-offset: 7px;
  }
  .about__main-skills{
    display: none;
  }
  .about__main-skills.open{
    display: block;
    
  }
  /* SERVICES */
  .services{
    padding: 5rem 0;
  }
  .services__title{
    text-align: center;
  }
  .services__title h3{
    font-size:5rem;
    font-weight:500;
    margin-bottom: 2rem;
  }
  .services__title p{
    margin-bottom:2rem;
    font-size: 1.7rem;
    font-weight: 300;
  }
  .services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
  .services__card{
    background-color: var(--gray);
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .services__card span{
    color: var(--green);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-right: 20rem;
  }
  .services__card h4{
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .services__card p{
    font-weight:300;
    max-width:20rem;
  }
  
  /* CLIENT */
  
  .client{
    padding:5rem 0;
  }
  .client__title{
    text-align: center;
  }
  .clients__title h3{
    font-size:5rem;
    font-weight:700;
    margin-bottom:2rem;
    text-align: center;
  }
  .clients__title p{
    font-size:2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;
  }
  .client__wrapper{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    gap: 3rem;
    align-content: center;
    justify-content: center;
   }

   /* PROJECT */
   .project{
    padding:5rem 0;
   }
   .project__title h3{
    font-size:5rem;
    font-weight:700;
    margin-bottom:2rem;
    text-align: center;
   }
   .project__title p{
    margin-bottom:2rem;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    
   }
   .project__wrapper{
    display: grid;
    grid-template-columns: 30fr 30fr 30fr;
    gap: 5rem;
   }
   .project_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .project_cards h3{
    color: var(--light);
    position: absolute;
    margin-bottom: -5rem;
    font-size: 2.5rem;
    font-weight: 600;
   }
   .project_cards img{
    border-radius:1rem;
   }
   .project_cards p{
    color: var(--light);
    margin-bottom: 2rem;
    align-items:center;
    position:absolute;
   }
   .project_cards a{
    background-color: transparent;
    border-radius:1rem;
    margin-bottom:-17rem;
    position: absolute;
    color:white;
    border: 1px solid var(--light);
   }


   /* HIRE */
   .hire{
    padding: 5rem;
   }
   .hire__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
   }
   .hire_left{
    align-items: center;
    justify-content: center;
   }
   .hire_left h3{
     font-size: 5rem;
     font-weight: 600;
   }
   .hire_left p{
    font-size: 2.5rem;
    font-weight: 300;
   }
   .hire_left span{
     font-weight: 600;
   }
   .hire_left h6{
    border: 1px solid var(--dark);
    border-radius:1rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: left;
   }
   .hire_left a{
    border: 1px solid var(--green);
    background-color: var(--green);
    border-radius:1rem;
    color: var(--white);
   }
   .hire_right img{
    width: 60rem;
    border-radius: 1rem;
    transform: translateY(-1.5rem)
   }
   /* Footer */
   .footer{
    padding: 3.0rem;
    background-color:rgb(26, 24, 24);
   }
   .footer__wrapper{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
   }
   .footer__wrapper img{
      width:10rem;
      border-radius:50%;
   }
   .footer__wrapper ul{
    display: flex;
    align-items: center;
    gap:3rem;
   }
   .footer__wrapper ul li a{
    width: 10rem;
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 50%;
   }
   .footer__wrapper p{
    margin-top: 2.5rem;
      color: var(--light);
   }
   
  /* REPEATABLE PATTERNS */
  :root{
    --green: #7d9a68;
    --light: #ffffff;
    --dark: #2b2b2b;
    --gray:#D3D3D3;
    --poppins: "Poppins", sans-serif;
  }
  /* BUTTON MAKING */
  .btn{
    background-color: transparent;
    border:transparent;
    border-radius:1rem;
    padding: 1rem 2rem;
    color: transparent;
  }
  .btn.bg--border-dark{
    background-color:var(--light);
    border: 1px solid var(--dark);
    color:var(--dark);
  }
  
